# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
pubspec.lock

# Android related
local.properties
gradle-wrapper.jar
.gradle/
gradlew
gradlew.bat

# iOS/XCode related
**/ios/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/
ServiceDefinitions.json
xcuserdata/

GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
presentation/build/
shared/build/

shared/lib/src/api/imdb.dart
